a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.tel {
	text-decoration: none!important;

	&:hover {
		cursor: text;
	}
}

.more-link {
	@extend button;
	margin-bottom: 1em;
	display: table;
}