form {
	margin-bottom: 2.5em;
}

.honey {
	display: none!important;
}

label {
	display: block;
	text-transform: uppercase;
	font-family: $font__main-bold;
}

.error-box, .asterisk {
	color: #F00;
}

.error-box {
	border:1px solid #F00;
	background-color: #FFF;
	padding: .5em;
	margin: 1em 0;
	display: none;

	&.has-errors {
		display: block;
	}
}

@include respond-to(small) {
	label {
		font-size: .875em;
	}
}

@import "buttons";

@import "fields";

@import "datepicker";