#colophon {
	@include font-size(.75);
	text-align: center;
	padding-top: 10px;

	&:before {
		content: '';
		display: block;
		height: 1px;
		background-color: #FFF;
	}

	.wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.contact-info {
		margin-bottom: 1.5em;

		.ftr-name {
			display: none;
		}

		.ftr-address {
			display: table;
			width: 100%;
		}

		.colophon-ph {
			a:before {
				content: 'P: ';
			}
		}

		.colophon-fx {
			a:before {
				content: 'F: ';
			}
		}

		.colophon-fx {
			a:before {
				content: 'F: ';
			}
		}
	}

	#eho {
		margin: 0 auto .5em;
		width: 29px;
		height: 32px;
	}

	#res-one-link {
		text-transform:lowercase;
		text-align: left;
		width: 130px;
		margin: 0 auto 1.5em;
		font-size: .8125em;
		display: block;

		svg {
			width: 130px;
			height: 21px;
			display: block;
			margin: 3px auto 0;
		}
	}

	#slug {
		font-size: .75em;
	}

	@include respond-to(x-small) {
		text-align: left;

		#eho, .contact-info {
			float: left;
		}

		#eho {
			margin-right: 1em;
		}

		#res-one-link {
			float: right;
			width: 140px;

			svg {
				float: left;
			}
		}

		#slug {
			float: right;
			clear: right;
			margin-top: 2em;
		}
	}

	@include respond-to(small) {
		.contact-info {
			.ftr-name {
				display: block;
			}

			.ftr-address, .colophon-ph, .colophon-fx {
				display: inline;
			}

			.ftr-address {
				margin-right: .5em;
			}

			.colophon-ph {
				margin-right: 1em;
			}
		}
	}

	@include respond-to(medium) {
		#res-one-link {
			width: 175px;

			svg {
				width: 165px;
				height: 27px;
			}
		}
	}

	@include respond-to(large) {
		@include font-size(.6875);
	}
}